<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="https://icons8.com/icon/16958/trekking" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.20.0/css/mdb.lite.min.css" integrity="sha512-Eu5EEZpsrO6niYlnhT+ITom/YVGoIZGEsbAvZ+gUJsO3Xaq9+hX4vZnbecMn/Cq5KOdmNOdehu/U80111W9xsA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
  
    <script src="https://kit.fontawesome.com/1a6c3274b4.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
  
    <link rel="stylesheet" href="/about.css">
    <title> About us</title>
</head>

<body >
  <%- include('./partials/navbar') %>
  <%- include('./partials/flashMsg.ejs') %>
  <div class="bg-light">
    <div class="container py-5">
      <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6">
            <img src="juju.png" class="rounded-circle" style="width:270px;height:250px;"
            alt="Avatar jugurta" />
          <h1 class="display-4">Jugurta OURZIK</h1>
          <p class="lead text-muted mb-0">Back-end Web Developer | JS - NodeJS - ExpressJS & MySQL</p> <br>
          <p> L3 MIAGE student @ Grenoble Alpes University 🇫🇷</p>
        </div>
        <div class="col-lg-6 d-none d-lg-block"><img src="https://bootstrapious.com/i/snippets/sn-about/illus.png" alt="" class="img-fluid"></div>
      </div>
    </div>
  </div>
  
  <div class="bg-white py-5">
    <div class="container py-5">
      <div class="row align-items-center mb-5">
        <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light">Bio</h2>
          <p class="font-italic text-muted mb-4">Hi I am jugurta OURZIK, I am glad you are on my app. I am a student in L3 MIAGE (Computer Methods Applied to Business Management) at the University of Grenoble Alpes. I am continuously
            looking for new experiences and new challenges in
            more than being devoted to the acquisition of new knowledge,
            skills and performance in computer science development and particularly web development.</p>
        </div>
        <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://bootstrapious.com/i/snippets/sn-about/img-1.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-5 px-5 mx-auto"><img src="https://bootstrapious.com/i/snippets/sn-about/img-2.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light">Web development</h2>
          <p class="font-italic text-muted mb-4">My good knowledge of website programming languages ​- HTML | EJS, CSS, JAVASCRIPT | ExpressJS, development tools (VScode, Insomnia, Git&Github), OS (Linux) and the relational database management system (MySQL), allow me to develop dynamic websites with fairly advanced features, namely user authentication and authorization. This is my third experience in server side development with nodeJS through expressJS. On this leave me your opinion and your appreciation or depreciation of the application and do not hesitate to report flaws to me if you find any.<br> <br> I will be happy to contribute to your web development projects by taking care of the back-end part and learning more about client-side development and that from your experiences and your skills,do not hesitate to join me on my networks.</p><a href="https://github.com/JugurtaO" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More About My Projects</a>
        </div>
      </div>
    </div>
  </div>
  

  <div class="bg-light py-5">
    <div class="container py-5">
      <div class="row mb-4">
        <div class="col-lg-5">
          <h2 class="display-4 font-weight-light">REFERENCES</h2>
          <p class="font-italic text-muted">Please find below some references of my work</p>
        </div>
      </div>
  
      <div class="row text-center">
  
       
  
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://avatars.githubusercontent.com/u/82173113?v=4" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Massiles GHERNAOUT</h5><span class="small text-uppercase text-muted">WEB DEVELOPER</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="https://github.com/MassiGy/" class="social-link"><i class="fa fa-github"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="https://www.linkedin.com/in/massigy/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->
  
      </div>
    </div>
  </div>
  
  
  <!-- <footer class="bg-light pb-5">
    <div class="container text-center">
      <p class="font-italic text-muted mb-0">&copy; Copyrights Hiking Outdoors.All rights reserved.</p>
    </div>
  </footer> -->
  <%- include('./partials/footer') %>


 
</body>

</html>