<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title> new trail </title>

  <link rel="shortcut icon" type="image/x-icon" href="https://img.icons8.com/color/48/landscape.png" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/newTrail.css">
  <meta name=”viewport” content=”width=device-width, initial-scale=1.0">




</head>

<body>





  <%- include('./partials/navbar') %>
  <%- include('./partials/flashMsg.ejs') %>

  <div class="row">
    <h1 class="text-center">Create your trail !</h1>

    <div class="col-6  offset-3">
        <form action="/trails/add" method="POST">
            <div class="mb-3">
              <label for="name" class="form-label">Name :</label>
              <input required name="trail_name" id="name" type="text" class="form-control" placeholder="name" autofocus>
            </div>
  
            <div class="mb-3">
                <label for="location" class="form-label">Location :</label>
                <input required name="trail_location" id="location" type="text" class="form-control" placeholder="location" autofocus>
              </div>
            <div class="mb-3">
              <label for="level">Difficulty level :</label>
              <input required name="difficulty_level" id="level" type="text" class="form-control" placeholder=" easy | medium | hard">
            </div>
  
            <div class="mb-3">
              <label for="image">Image Url :</label>
              <input required name="trail_image" id="image" type="text" class="form-control " placeholder="image adress (url) ">
            </div>
  
  
  
  
  
            <button class="btn btn-success " style="color: aliceblue;">Post</button>
            <a class="btn btn-outline-info " href="/trails ">All Trails</a>
  
          </form>

    </div>



  </div>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>

</html>